- var columns = grid.options.columns;

block rows
    div(class=grid.buildElementClass('header'), style= grid.getElementStyle('header'))
        for col in columns
            div(class=grid.buildElementClass('header-cell') + ' ' + grid.strategy.buildColumnCellClass(col),
                style=grid.buildCellStyle(col) + ' ' + grid.getElementStyle('header-cell'),
                data-datafield=col.dataField)
                div(class=grid.buildElementClass('header-cell-content'),
                    style=grid.getElementStyle('header-cell-content'))=col.text
