//div(class=grid.buildElementClass('group-header'), style=grid.getElementStyle('group-header'))
//    for col in  grid.options.columns
//        div(class=grid.buildElementClass('cell'), style=grid.buildCellStyle(col)+ ' ' + grid.getElementStyle('cell'))
//            div(class=grid.buildElementClass('cell-content'), style=grid.getElementStyle('cell-content'))=groupData.rows[0][col.dataField].text
hr