- var columns = grid.options.columns;
- var buildElementClass = grid.strategy.buildElementClass.bind(grid.strategy);
- var getElementStyle = grid.strategy.getElementStyle.bind(grid.strategy);

block rows
    div(class=buildElementClass('header'), style= getElementStyle('header'))
        for col in columns
            div(class=buildElementClass('header-cell', col),
            style=grid.strategy.buildCellStyle(col) + ' ' + getElementStyle('header-cell'),
            data-datafield=col.dataField)
                div(class=buildElementClass('header-cell-content', col),
                style=getElementStyle('header-cell-content'))=col.text
